$RECYCLE.BIN/
*-blx.aux
*-blx.bib
*-concordance.tex
*-converted-to.*
*-gnuplottex-*
*-tags.tex
*-tikzDictionary
*.4ct
*.4tc
*.?end
*.[1-9]
*.[1-9]R
*.[1-9][0-9]
*.[1-9][0-9]R
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.backup
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.cab
*.cb
*.cb2
*.cpt
*.cut
*.dpth
*.dvi
*.el
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.end
*.ent
*.fdb_latexmk
*.fff
*.fls
*.fmt
*.fot
*.gaux
*.glg
*.glo
*.glog
*.gls
*.glsdefs
*.glstex
*.gnuplot
*.gtex
*.hst
*.icloud
*.idv
*.idx
*.ilg
*.ind
*.lg
*.listing
*.lnk
*.loa
*.lod
*.loe
*.lof
*.log
*.lol
*.lot
*.lox
*.lpz
*.ltjruby
*.lyx~
*.lzo
*.lzs
*.maf
*.md5
*.mf
*.mlf
*.mlt
*.mp
*.msi
*.msix
*.msm
*.msp
*.mtc[0-9]*
*.mw
*.nav
*.newpax
*.nlg
*.nlo
*.nls
*.out
*.pax
*.pdfpc
*.pdfsync
*.pre
*.ptc
*.pyg
*.pytxcode
*.run.xml
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.slf[0-9]*
*.slg
*.slo
*.sls
*.slt[0-9]*
*.snm
*.soc
*.sout
*.spl
*.sta
*.stackdump
*.stc[0-9]*
*.sympy
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.t[1-9]
*.t[1-9][0-9]
*.table
*.tdo
*.tex
*.tfm
*.thm
*.toc
*.tps
*.trc
*.ttt
*.upa
*.upb
*.ver
*.vrb
*.vtc
*.wrt
*.xcp
*.xdv
*.xdy
*.xmpi
*.xref
*.xwm
*.xyc
*.xyd
*~
*~[0-9]*
.*.lb
.*.swp
./auto/*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.fseventsd
.fuse_hidden*
.nfs*
.pdf
.texpadtmp
Icon
Network Trash Folder
TSWLatexianTemp*
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
_minted*
acs-*.bib
ehthumbs.db
ehthumbs_vista.db
latex.out/
pythontex-files-*/
svg-inkscape/
sympy-plots-for-*.tex/
